.App {
  text-align: center;
}
.counters{
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border: 1px solid black;
  margin: auto;
  margin-top: 100px;
}
.counters > h3{
  margin-top: 50px;
}

.counters > button {
  border: 1px solid black;
  /* color: white; */
  background-color: pink;
  /* padding: 10px; */
}